<%# add navigation links to this file %>
<li><a href="#">About Us</a></li>
<li><a href="#">Portfolio</a></li>
<li class="dropdown">
  <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Services <span class="caret"></span></a>
  <ul role="menu" class="dropdown-menu">
    <li><a href="#">Transport</a></li>
    <li class="divider"></li>
    <li><a href="#">Hostel</a></li>
    <li class="divider"></li>
    <li><a href="#">Medication</a></li>
  </ul>
</li>
<li><a href="#">Why Choose Us?</a></li>
<li><a href="#">Contact Us</a></li>